*.class
*.log
*~
/cache.txt
/TestiTIlit.acc
/Tilit.acc
/accgrp
/graafitesti.acc
/graph_test.acc
/graph_test.grp
/graph_test.grpgrp
/lukutesti.acc
/simple.acc
/testi.acc
/tilitaulukkotesti.txt
/uudet tilit
/uudet tilit.grp
/uudet tilitgrp
